body {
    background-color: #9cbde6;
}
canvas {
    display: block;
    margin: 80px auto;
    border: solid white 15px;
    border-radius: 25px;
}

@font-face {
    font-family: GameFont;
    src: url('./assets/downpourFont.ttf');
}